<manifest xmlns:android="http://schemas.android.com/apk/res/android"    package="com.joycastle.advertise.admob.adapter.vungle" >    <application android:allowBackup="true" android:label="@string/app_name"        android:supportsRtl="true">        <meta-data android:name="vungle_spot_id" android:value="@string/vungle_spot_id"/>        <meta-data android:name="vungle_video_id" android:value="@string/vungle_video_id"/>    </application></manifest>