<manifest xmlns:android="http://schemas.android.com/apk/res/android"    package="com.joycastle.analytic.gameanalytics" >    <application android:allowBackup="true" android:label="@string/app_name"        android:supportsRtl="true">        <meta-data android:name="gameanalytics_game_key" android:value="@string/gameanalytics_game_key"/>        <meta-data android:name="gameanalytics_secret_key" android:value="@string/gameanalytics_secret_key"/>    </application></manifest>